@import "../../style/global.css";

.figaro-data-component {
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid var(--light-theme-title);
  word-break: break-all;
}

.figaro-code-format {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  padding: 5px 0px 0px 0px;
}

.figaro-code-format > pre > code {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a.figaro-id-link {
  font-size: 16px !important;
}

a.figaro-data-view-link {
  cursor: pointer;
  text-decoration: underline;
}

a.figaro-job-info-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--link-color);
  padding: 0 7px;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .figaro-data-component {
    margin: 10px 0px;
  }
}

.__theme-dark .figaro-data-component {
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
  border: 1px solid var(--dark-theme-light);
}
