@import "../../style/global.css";

.figaro-body {
  padding: 0px 20px;
  padding-bottom: 50px;
  flex: 1;
  overflow: auto;
}

.figaro-page-wrapper {
  display: flex;
  height: calc(100vh - 45px);
}

.figaro-sidenav {
  flex: 0.25;
  min-width: 320px;
  z-index: 1;
  padding: 20px 35px 20px 20px;
  background-color: #ffff;
  border-right: solid 1px #0000004d;
  overflow: auto;
}

.sidenav-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
}

li.active:hover {
  background-color: transparent !important;
}

.figaro-sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  height: 100%;
}

input:focus {
  outline: none;
}

.top-bar-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-list-wrapper {
  margin-bottom: 20px;
}
.filter-list-wrapper > div > a span:last-child {
  border-left: none;
}

.on-demand-button:hover {
  transition: background-color 0.4s ease-out;
  background-color: #0a45a4;
}

.button-wrapper {
  display: flex;
}

.figaro-button {
  padding: 0px 5px;
}

@media screen and (max-width: 900px) {
  .figaro-body {
    padding: 0px 12px;
  }

  .figaro-sidenav {
    min-width: 240px;
    padding: 15px 16px 20px 16px;
  }

  .top-bar-wrapper {
    display: block !important;
  }

  .button-wrapper {
    margin-top: 10px;
  }
}

.__theme-dark.figaro-sidenav {
  background-color: var(--dark-theme-alt);
  color: var(--dark-theme-color);
}
